body {
	background:#121212;
	font:1.2em Josefin Sans Trebuchet MS;
	word-spacing:2px;
	color:#545454;
	margin:0;
}

* {
	margin:0;
	padding:0;
}
#header 
{
	padding:15px;
	text-align:center;
    margin: 30px solid green;
	border-top:3px solid #333;
    border-bottom:4px solid #333;
	background:#000;
}
#image
{
    float: left;
    margin-left: 30px;
    margin-top: 0;
    height:60px;
    border: 20px solid white ;
    border-radius: 40px;
    
}
a {
	color:#999;
	border-bottom:1px dotted #232323;
	text-decoration:none;
	padding:2px 4px 2px 4px;
}
a:hover {
	border-bottom:5px #99CC33;
	background:#101010;
    background-color: whitesmoke;
}

h1 {
	font-family: Bitter;
    font-size: 3em;
    color:floralwhite;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}

h2 {
	font:24px Arial, sans-serif;
	color:#99CC33;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}
h2.first {
	margin:0 0 15px 0;
}
h2 a {
	color:#99CC33;
	text-decoration:none;
	border:none;
	padding:0;    
}
h2 a:hover {
	border:none;
	background:none;
}
h3 {
	font-size:1.2em;
	color:#ccc;
	font-weight:normal;
	margin:15px 0 15px 0;
}
p {
	line-height: 24px;
	margin: 25px 0 25px 0;
}
blockquote {
	font-size:1.0em;
	margin:35px 150px 35px 0;
	color:#787878;
	background:url(../images/blockquote.gif) top left no-repeat;
	padding:5px 0 0 0;
	font-family:Covered By Your Grace,Poiret One sans-serif san;
}
blockquote p {
	line-height:5px;
}
#sidebar {
	width:263px;
	background:url(../images/sidebar.jpg) top left no-repeat;
	float:left;
	padding:20px 20px 50px 20px;
}
#sidebar p {
	font-size:0.9em;
}
#sidebar a {
	color:#ccc;
	border:none;
   
}
#sidebar a:hover {
	text-decoration:underline;
	color:#eee;
	border:none;
    
}
#sidebar h1 {
	color:#fff;
	font-size:1.7em;
}
#sidebar h1 a {
	color:#fff;
	text-decoration:none;
	padding:0;
}
#sidebar h1 a:hover {
	text-decoration:none;
}
ol#nav {
	margin:25px 15px 25px 30px;
	font-size:1.3em;
}
ol li {
	margin:15px 0 15px 0 !important;
	margin:-10px 0;
}
#nav a {
	display:block level;
	margin:0;
	color:#99CC33;
	border-right:100px;
}
#nav a b {
	float:right;
	display:none;
	color:#333;
}
#nav a:hover {
	background:none;
	border:none;
	text-decoration:none;
}
#nav a:hover b {
	display:inline;
}
#content {
	margin:0 10% 0 300px;
	background:url(../images/content.jpg) top left no-repeat;
	padding:20px;
}
#content ul {
	margin:15px 15px 15px 15px;
	list-style:none;
}
#content ul li {
	margin:10px 0;
	padding:0 0 0 15px;
	background:url(../images/bp.gif) left no-repeat;
}
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 1s;
}
button:hover
{
    
    background-color:darkorange;
    border-bottom: dotted 2px white;
    transition-delay: 0.5s;
  }
#textarea
{
    margin:25px;
    font-family: "Indie Flower";
    font-size: 0.8em;
    text-align: center;
    
}
#content img 
{
	padding:1px;
	background:#000;
	border:3px solid #333;
}
.postdata {
	font:11px Verdana;
	margin:-6px 0 -15px 0;
	color:#777;
}
#footer {
	padding:30px;
	text-align:center;
	border-top:3px solid #333;
	margin:50px 0 0 0;
	background:#000;
}